.tab-sticky{
    position: sticky;
    display: flex;
    height: fit-content;
    flex-shrink: 0;
    background: var(--gray-white);
    border: solid var(--gray-lighter);
    @include border-r(12px);
    @include spacing(top, 124px);
    @include spacing(width, 460px, 412px);
    @include border-w(2px);

    @include Tablet {
        display: none;
    }

    &__container {
        display: flex;
        width: 100%;
        @include spacing(padding, 12px);
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        @include spacing(gap, 12px);
    }

    &__tab {
        width: 100%;
        text-align: left;
        justify-content: flex-start;
    }
}