.form {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    @include spacing(gap, 20px);
    background: var(--gray-white);
    @include spacing(border-radius, 12px);
    @include spacing(padding, 40px);

    .item-a {
        grid-area: name;
    }
    .item-b {
        grid-area: phone;
    }
    .item-c {
        grid-area: email;
    }
    .item-d {
        grid-area: message;
    }

    &__inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
          'name phone'
          'email email'
          'message message';
        @include spacing(gap, 12px);

        @include Mobile {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    &__text-input {
        width: 100%;
    }

    &__controls {
        display: flex;
        flex-direction: column;
        @include spacing(gap, 12px);
    }

    &__button-submit {
        width: fit-content;
    }

    .checkbox__input {
        width: unset;
        height: unset;
    }
}