.video-page {
    @include spacing(margin-bottom, 40px, 40px, 20px, 20px);
    @include spacing(margin-top, 20px);

    @include Tablet{
        @include spacing(padding-inline, 12px);
    }

    &__container {
        @include spacing(width, 1180px, 1064px);
        margin: 0 auto;

        @include Tablet {
            width: 100%;
        }

        video {
            width: 100%;
            height: 100%;
        }
    }

    & .video-container {
        width: 100%;
        height: 100%;
        @include spacing(border-radius, 12px);

        & .horizontal-video {
            width: 100%;
            @include spacing(height, 662px, 582px, 400px, 200px);
            @include spacing(border-radius, 12px);

            iframe {
                width: 100%;
                height: 100%;
                @include spacing(border-radius, 12px);
            }
        }

        & .vertical-video {
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: var(--gray-light);
            @include spacing(border-radius, 12px);
            @include spacing(height, 620px, 556px, 424px, 606px);

            iframe {
                @include spacing(width, 350px, 314px, 239px);
                height: 100%;

                @include Mobile {
                    width: 100%;
                    border-radius: vwm(12px);
                }
            }
        }
    }

    &__text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include spacing(padding-top, 20px, 20px, 8px, 8px);
        @include spacing(padding-bottom, 20px, 20px, 12px, 12px);
        @include spacing(gap, 20px, 40px, 12px, 12px);

        @include Tablet {
            grid-template-columns: 1fr;
        }
    }

    &__title {
        color: var(--gray-black);
        @include h2;
    }

    &__desc {
        color: var(--gray-dark);
        @include t2;
    }
}