.services {
    @include spacing(padding-block, 100px, 80px, 40px, 40px);

    &__container {
        display: flex;
        flex-direction: column;
        @include spacing(gap, 30px, 30px, 16px, 16px);
    }

    &__steps {
        display: flex;
        flex-direction: column;
        @include spacing(gap, 30px, 30px, 16px, 16px);
    }

    &__step {
        display: grid;
        grid-template-columns: vw(440px) 1fr;
        @include spacing(gap, 20px);

        &:not(:last-child) {
            border-width: vw(1px);
            border-bottom: solid var(--gray-lighter);
            @include spacing(padding-bottom, 60px, 60px, 32px, 32px);
            @include spacing(margin-bottom, 60px, 60px, 32px, 32px);
        }

        @include HD {
            border-width: vwh(1px);
            grid-template-columns: vwh(400px) 1fr;
        }
        @include Tablet {
            display: flex;
            flex-direction: column;
            border-width: vwt(1px);
        }
        @include Mobile {
            border-width: vwm(1px);
        }

        &_ls {
            position: sticky;
            display: flex;
            flex-direction: column;
            height: fit-content;
            @include spacing(padding-right, 40px, 40px, 0, 0);
            @include spacing(top, 124px, 124px);
            @include spacing(gap, 20px, 20px, 12px, 12px);

            &--title {
                color: var(--gray-darker);
                @include h3;
            }

            &--text {
                color: var(--gray-dark);
                @include t2;
            }

            @include Tablet {
                position: static;
            }

            & .btn {
                @include Mobile {
                    min-width: 100%;
                }
            }
        }

        &_rs {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            @include spacing(gap, 20px, 20px, 16px, 16px);

            @include Mobile {
                grid-template-columns: 1fr;
            }
        }
    }
}