.step-card {
    display: flex;
    flex-direction: column;
    @include spacing(gap, 20px);
    @include spacing(width, 460px, 412px, 360px);

    @include Mobile {
        width: 100%;
    }

    &__text {
        display: flex;
        flex-direction: column;
        @include spacing(gap, 20px, 20px, 16px);
        @include spacing(width, 640px, 568px);

        @include Tablet {
            width: 100%;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        @include spacing(gap, 16px);
    }

    &__marker {
        flex-shrink: 0;
        background: var(--gray-lighter);
        color: var(--gray-darker);
    }

    &__title {
        color: var(--gray-darker);
        @include h3;
    }

    &__descr {
        color: var(--gray-dark);
        @include t2;
    }

    &__button {
        width: 100%;
    }

    /*----------STYLES-----------*/
    &-outline {
        @include spacing(padding, 20px);
        border: solid var(--gray-white);
        @include border-r(8px);
        @include border-w(2px);

        .step-card__marker {
            background: var(--color2-main);
            color: var(--gray-white);
        }

        .step-card__text {
            width: fit-content;

            @include Tablet {
                @include spacing(gap, 20px);
            }
        }
    }

    &-gray {
        @include spacing(padding, 20px);
        background: var(--gray-lighter);
        @include border-r(8px);

        .step-card__marker {
            background: var(--gray-white);
            color: var(--color1-main);
        }

        .step-card__text {
            width: fit-content;

            @include Tablet {
                @include spacing(gap, 20px);
            }
        }
    }

    &-white {
        @include spacing(padding, 20px);
        background: var(--gray-white);
        @include border-r(8px);

        .step-card__marker {
            background: var(--gray-white);
            color: var(--color1-main);
        }

        .step-card__text {
            width: fit-content;

            @include Tablet {
                @include spacing(gap, 20px);
            }
        }
    }
}