.title-card {
    display: flex;
    flex-direction: column;
    @include spacing(gap, 32px, 32px, 24px, 24px);

    &__wrap {
        display: grid;
        align-items: end;
        grid-template-columns: vw(680px) vw(700px);
        @include spacing(gap, 40px, 40px, 12px, 12px);

        @include HD {
            grid-template-columns: vwh(608px) vwh(628px);
        }
        @include Tablet {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;
        }
    }

    &__title {
        color: var(--gray-darker);
        @include h2;
        text-transform: uppercase;

        span {
            color: var(--color2-main);
        }
    }

    &__desc {
        color: var(--gray-dark);
        @include t2;
    }
}