.main-about {
	@include spacing(padding-block, 100px, 80px, 60px, 60px);

	&__content {
		display: flex;
		flex-direction: column;
		@include spacing(gap, 60px);
	}

	&__title {
		@include spacing(max-width, 700px, 700px);

		@include Tablet {
			max-width: unset;
			width: 100%;
		}

		h2 {
			@include h2;
			text-transform: uppercase;
			color: var(--gray-darker);
		}

		&--accent {
			color: var(--color2-main) !important;
		}
	}

	&__why {
		@include spacing(margin-top, 60px);
		display: flex;
		flex-direction: row;
		@include spacing(gap, 40px);

		@include Tablet {
			@include spacing(gap, 20px);
		}
		@include Mobile {
			flex-direction: column;
		}

		&-ls {
			display: flex;
			flex-direction: column;
			@include spacing(gap, 28px);
			@include spacing(flex-basis, 690px, 618px, 358px);
			flex-shrink: 0;

			@include Mobile {
				flex-basis: unset;
				width: 100%;
			}

			&--title {
				@include h4;
				color: var(--gray-black);
			}
		}

		&--list {
			display: flex;
			flex-direction: column;
			@include spacing(gap, 8px);
		}

		&--item {
			@include t2;
			color: var(--gray-darker);
			text-align: left;
			@include spacing(padding-left, 24px);
			position: relative;
			display: flex;
			align-items: center;

			@include HD {
				@include t3;
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				@include spacing(top, 6px);
				@include spacing(width, 12px);
				@include spacing(height, 12px);
				background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5L6 10L15 1' stroke='%23EFBC38' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-size: 100%;
				background-position: center;
			}
		}

		&-buttons {
			@include spacing(margin-top, 40px);
			display: flex;
			flex-direction: row;
			@include spacing(gap, 10px);

			@include Tablet {
				flex-direction: column;

				& .main-about__why-button--about {
					@include spacing(height, 48px);
					width: 100%;
					@include spacing(padding-block, 12px);
				}

				& .main-about__why-buttons-social {
					display: flex;
					justify-content: center;
					order: 3;
					@include spacing(gap, 8px);
				}

				& .main-about__why-button {
					width: 100%;
				}
			}
		}

		&-button {
			&--services {
				flex: 1;

				@include Tablet {
					flex: unset;
					width: 100%;
				}
			}
			&--about {
				flex: 1;
			}
		}

		&-rs {
			display: flex;
			flex-direction: column;

			& .accent-card {
				background: transparent;
				border: solid var(--color2-main);
				border-width: vw(2px);

				@include HD {
					border-width: vwh(2px);
				}
				@include Tablet {
					border-width: vwt(2px);
				}
				@include Mobile {
					border-width: vwm(2px);
				}
			}

			&--text {
				@include t2;
				color: var(--gray-darker);
				@include spacing(margin-top, 20px);
			}
		}

		&-separator {
			@include spacing(margin-block, 32px);
		}
	}

	&__benefits {
		display: flex;
		flex-direction: row;
		align-items: center;
		@include spacing(gap, 48px, 48px, 16px, 8px);
		background: var(--gray-lighter);
		@include border-r(12px);
		@include spacing(padding, 24px, 24px, 16px, 16px);
		@include spacing(padding-left, 44px, 44px, 20px, 20px);

		@include Mobile {
			flex-direction: column;
			align-items: flex-start;
		}

		& .separator {
			@include spacing(height, 78px, 78px, 52px);

			@include Mobile {
				width: 100% !important;
				height: vwm(1px) !important;
			}
		}
	}

	&__benefit {
		flex: 1;
		display: flex;
		flex-direction: column;
		@include spacing(gap, 12px, 12px, 4px, 4px);
		align-items: flex-start;

		&--title {
			@include h2;
			color: var(--gray-black);
		}
		&--text {
			@include t2-b;
			color: var(--gray-black);
			white-space: nowrap;

			@include Tablet {
				@include t3-b;
			}
		}
	}

	&__mission {
		position: relative;
		width: 100%;
		@include spacing(padding, 24px);
		border: vw(2px) solid var(--color2-main);
		@include border-r(12px);
		background: transparent;
		@include t1;
		color: var(--gray-darker);
		z-index: 1;

		@include HD {
			border-width: vwh(2px);
		}
		@include Tablet {
			border-width: vwt(2px);
		}
		@include Mobile {
			border-width: vwm(2px);
		}

		&::before {
			content: 'Миссия ichina';
			@include h6;
			color: var(--gray-white);
			text-transform: uppercase;
			position: absolute;
			@include spacing(top, -15px);
			@include spacing(left, 44px);
			@include spacing(height, 30px);
			width: fit-content;
			background: var(--color2-main);
			@include border-r(4px);
			@include spacing(padding-block-start, 8px);
			@include spacing(padding-block-end, 6px);
			@include spacing(padding-inline, 12px);
			z-index: 10;

		}
	}
}