.case-article {
    @include spacing(padding-top, 40px, 40px, 12px, 12px);
    @include spacing(padding-bottom, 80px, 80px, 40px, 40px);

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        @include spacing(gap, 20px, 20px, 16px, 16px);
    }


    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include Tablet {
            gap: vwt(12px);
        }
        @include Mobile {
            flex-direction: column;
            justify-content: start;
            gap: vwm(12px);
        }
    }

    &__button {
        width: fit-content;

        @include Mobile {
            width: 100%;
        }
    }
}

.info-container {
    @include spacing(max-width, 700px, 628px, 480px, 342px);
}