.case-article {
    @include spacing(padding-top, 40px, 40px, 12px, 12px);
    @include spacing(padding-bottom, 80px, 80px, 40px, 40px);

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        @include spacing(gap, 20px, 20px, 16px, 16px);
    }

    &__body {
        display: flex;
        flex-direction: column;

        table {
            width: 100%;
            text-align: left;
            @include spacing(margin-bottom, 40px, 40px, 40px, 40px);
            @include spacing(border-spacing, 2px, 2px, 2px, 2px);

            @include Mobile {
                display: block;
                overflow-x: auto;
                white-space: nowrap;
            }

            th {
                @include t3-b;
                color: var(--gray-black);
                background-color: var(--gray-darker);

                &:first-child {
                    @include spacing(border-top-left-radius, 8px, 8px, 8px, 8px);
                }

                &:last-child {
                    @include spacing(border-top-right-radius, 8px, 8px, 8px, 8px);
                }
            }

            tr {
                &:last-child td {
                    border: none !important;
                }
            }

            th,
            td {
                border-bottom: solid var(--gray-lighter);
                @include border-w(2px);
                @include spacing(padding-block, 8px, 8px, 8px, 8px);
                @include spacing(padding-inline, 12px, 12px, 12px, 12px);

                & > p {
                    width: auto !important;
                }
            }

            td {
                @include t3;
                background-color: var(--gray-white);
                color: var(--Gray-Dark);
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: var(--gray-darker);
            @include spacing(padding-block, 20px, 20px, 20px, 20px);

            span {
                color: var(--gray-darker);
            }
        }

        h1 {
            @include h1;

            span {
                @include h1;
            }
        }

        h2 {
            @include h2;

            span {
                @include h2;
            }
        }

        h3 {
            @include h3;

            span {
                @include h3;
            }
        }

        h4 {
            @include h4;

            span {
                @include h4;
            }
        }

        h5,
        h6 {
            @include h5;

            span {
                @include h5;
            }
        }

        p,
        span, div {
            @include t2;
            color: var(--gray-dark);
        }

        a {
            @include t2;
            color: var(--color1-main);
            transition: color 0.3s ease;
            text-decoration: none;

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    color: var(--color1-dark);
                }
            }

            &:active {
                transition: color 0.1s ease;
                color: var(--color1-darker);
            }

            span {
                @include t2;
                color: var(--color1-main);
                transition: color 0.3s ease;
                text-decoration: none;
            }
            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    color: var(--color1-dark);
                }
            }

            &:active {
                transition: color 0.1s ease;
                color: var(--color1-darker);
            }
        }

        li {
            @include t2;
            color: var(--gray-dark);
            list-style: disc;
            @include spacing(margin-left, 20px, 20px, 20px, 20px);
        }

        ul {
            list-style-position: inside;

            li {
                list-style: disc;
            }
        }

        ol {
            list-style-position: inside;
            @include spacing(padding-bottom, 20px, 20px, 12px, 12px);

            li {
                list-style: decimal;
                line-height: 165%;
            }
        }

        img,
        video,
        iframe {
            width: 100%;
            object-fit: cover;
            user-select: none;
            z-index: 10;
            @include border-r(12px);
        }

        p {
            text-align: left !important;
            @include spacing(padding-bottom, 20px, 20px, 12px, 12px);
        }

        iframe {
            @include spacing(height, 400px, 356px, 270px, 194px);
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include Tablet {
            gap: vwt(12px);
        }
        @include Mobile {
            flex-direction: column;
            justify-content: start;
            gap: vwm(12px);
        }
    }

    &__button {
        width: fit-content;

        @include Mobile {
            width: 100%;
        }
    }
}