.accent-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color1-lighter);
    height: fit-content;
    @include spacing(padding, 20px, 20px, 20px, 20px);
    @include gap(20px);
    @include border-r(12px);

    .badge {
        background: var(--color1-light);
    }

    &__badge {
        .badge__text {
            @include t2-b;
        }
    }

    &__desc {
        color: var(--gray-darker);
        @include t1;
    }
}