.reviews-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    @include spacing(gap, 12px, 20px);
    cursor: pointer;

    &.video-card {
        & .reviews-card__button {
            @include spacing(left, 16px, 16px, 12px, 12px);
        }
        & .reviews-card__badges {
            position: absolute;
            @include spacing(top, 16px, 16px, 12px, 12px);
            @include spacing(left, 16px, 16px, 12px, 12px);
        }
        & .reviews-card__container {
            justify-content: center;
        }
    }
    &.reviews-card-text {
        & .reviews-card__container {
            display: unset;
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            .reviews-card__button {
                opacity: 1;
                transform: translateY(0%);
                @include spacing(bottom, 16px);
                transition: transform 0.2s, opacity 0.2s;
                will-change: transform, opacity;
            }

            .reviews-card__title {
                color: var(--color1-main);
            }
        }
    }

    &:active {
        .reviews-card__button {
            opacity: 1;
            transform: translateX(0%);
            transition: transform 0.2s;
        }

        .reviews-card__title {
            color: var(--color1-darker);
        }
    }

    &__link {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    &__container {
        position: relative;
        display: flex;
        overflow: hidden;
        @include spacing(height, 340px, 340px, 280px, 280px);
        @include border-r(12px);
        background: var(--gray-light);
        z-index: 1;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        @include spacing(padding, 16px, 16px, 12px, 12px);
    }

    &__badges {
        position: relative;
        z-index: 11;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include gap(8px);
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
        user-select: none;
        @include transition((transform));
        z-index: 2;
    }

    &__button {
        position: absolute;
        bottom: 0;
        opacity: 0;
        transform: translateY(100%);
        z-index: 10;

        @include Tablet {
            opacity: 1;
            transform: translateX(0);
            @include spacing(bottom, 16px);
        }
        @include Mobile {
            opacity: 1;
            transform: translateX(0);
            @include spacing(bottom, 16px);
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        @include spacing(gap, 12px, 12px, 8px, 8px);
    }

    &__title {
        color: var(--gray-darker);
        @include h5;
        @include truncate(1);
    }

    &__desc {
        color: var(--gray-dark);
        @include t3;
        @include spacing(padding-inline, 16px, 16px, 12px, 12px);
        @include spacing(padding-top, 50px);
    }

    &__video {
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        iframe {
            height: 100%;
            width: 100%;
        }
    }
}