.plus-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    @include spacing(gap, 20px, 20px, 20px, 20px);

    &__marker {
        background-color: var(--gray-lighter);
    }

    &__text {
        color: var(--gray-dark);
        @include t2;
    }

    /*----------COLOR-----------*/
    &-color {
        &_main {
            .marker__icon {
                color: var(--color1-main);
            }
        }
        &_red {
            .marker__icon {
                color: var(--uniq-red);
            }
        }
        &_blue {
            .marker__icon {
                color: var(--uniq-blue);
            }
        }
        &_green {
            .marker__icon {
                color: var(--uniq-green);
            }
        }
    }
}