.year-card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    background: var(--gray-white);
    border: solid transparent;
    cursor: pointer;
    overflow: hidden;
    transform-origin: left top;
    --transition-timing: 0.4s;
    @include spacing(gap, 20px, 20px, 12px, 12px);
    @include spacing(padding, 28px, 28px, 12px, 12px);
    @include spacing(width, 100px, 88px, 56px, 48px);
    @include spacing(min-height, 320px, 320px, 260px, 290px);
    @include border-r(20px, 20px, 12px, 12px);
    @include border-w(2px);
    @include transition((border-color, width), var(--transition-timing));

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            border-color: var(--gray-light);

            .year-card__title-preview {
                color: var(--gray-darker);
            }
        }
    }

    &:active {
        border-color: var(--color1-dark);

        .year-card__title-preview {
            color: var(--color1-dark);
        }
    }

    &.active {
        border-color: var(--gray-light);
        @include spacing(width, 580px, 520px, 360px, 290px);

        .year-card__title {
            opacity: 1;
            transform: translateX(0);
        }

        .year-card__content {
            opacity: 1;
            transform: translateX(0);
        }

        .year-card__title-preview {
            opacity: 0;
            transform: translateY(150%);
        }

        &:active {
            border-color: var(--gray-medium);
        }
    }

    &__title {
        color: var(--gray-darker);
        opacity: 0;
        text-transform: uppercase;
        transform: translateY(-250%);
        @include h2;
        @include transition((color, opacity, transform), var(--transition-timing), linear);
        @include truncate(1);

        &-preview {
            position: absolute;
            bottom: 0;
            left: 0;
            text-transform: uppercase;
            color: var(--gray-medium);
            -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            text-align: left;
            user-select: none;
            opacity: 1;
            transform: translateY(0);
            @include h2;
            @include transition((color, opacity, transform), var(--transition-timing), linear);
            white-space: nowrap;
            overflow: visible;
            text-overflow: clip;
            @include spacing(left, 24px, 16px, 10px, 6px);
            @include spacing(bottom, 20px, 20px, 20px, 20px);

            @include Tablet {
                writing-mode: vertical-rl;
                -webkit-writing-mode: vertical-rl;
                @include spacing(height, 130px);
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;
            
                @supports (-webkit-touch-callout: none) {
                    display: inline-flex;
                    transform: rotate(180deg) translateX(-50%);
                }
            }
            @include Mobile {
                @supports (-webkit-touch-callout: none) {
                    display: inline-flex;
                    transform: rotate(180deg) translateX(0%);
                    align-items: flex-end;
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        border-top: solid var(--color2-main);
        opacity: 0;
        transform: translateX(100%);
        @include border-w(2px);
        @include spacing(padding-top, 20px, 20px, 12px, 12px);
        @include spacing(width, 524px, 464px, 336px, 266px);
        @include spacing(gap, 16px, 16px, 8px, 8px);
        @include transition((opacity, transform), var(--transition-timing));
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include spacing(gap, 12px, 12px, 8px, 8px);

        &-marker {
            flex-shrink: 0;
            background: var(--gray-white) !important;
            color: var(--color1-main) !important;

            @include Tablet {
                width: vwt(34px) !important;
                height: vwt(34px) !important;
            }
            @include Mobile {
                width: vwm(34px) !important;
                height: vwm(34px) !important;
            }

            .marker__icon {
                @include Tablet {
                    width: vwt(16px) !important;
                    height: vwt(16px) !important;
                }
                @include Mobile {
                    width: vwm(16px) !important;
                    height: vwm(16px) !important;
                }
            }
        }

        &-text {
            color: var(--gray-dark);
            @include t2;

            @include Tablet {
                @include t3;
            }
        }
    }
}
