.service-card {
    position: relative;
    display: flex;
    flex-direction: column;
    @include spacing(padding, 20px);
    @include spacing(gap, 20px);
    @include border-r(12px);
    height: 100%;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            .service-card__arrow,
            .service-card__title {
                @include transition((color));
                color: var(--color1-main);
            }
        }
    }

    &:active {
        background: var(--color1-lighter);
        @include transition((background));

        .service-card__arrow,
        .service-card__title,
        .service-card__desc{
            @include transition((color));
            color: var(--color1-darker);
        }
    }

    &__title {
        @include h3;
    }

    &__image {
        @include spacing(width, 200px);
        @include spacing(height, 200px);
        position: absolute;
        right: 0;
        bottom: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__arrow {
        flex-shrink: 0;
        margin-top: auto;
    }

    &__desc {
        @include t2;
    }

    /*----------STYLE-----------*/

    &-style_gray {
        &.service-card {
            background: var(--gray-lighter);
        }

        & .service-card__desc {
            @include spacing(padding-right, 120px);
        }

        & .service-card__title {
            color: var(--gray-darker);
        }

        & .service-card__separator {
            background: var(--color2-main) !important;
        }
    }

    &-style_main {

    }
}