.post-heading {
    display: flex;
    justify-content: center;

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include Tablet {
            overflow: hidden;
        }
    }



    &__top {
        display: flex;
        flex-direction: row;
        align-items: center;


        @include Tablet{
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__back{
        display: none;
        align-items: center;

        @include Tablet{
            display: flex;
        }

        &-title{
            @include t2-b;
            @include truncate(1);
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__button-back{
        flex-shrink: 0;
    }

    &__title {
        color: var(--gray-black);
        @include h3;

        @include Tablet {
            display: none;
        }
    }

    &__links {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        @include gap(8px);
        @include spacing(padding-top, 20px, 20px, 16px, 16px);
        @include spacing(padding-bottom, 12px, 12px, 8px, 8px);

        @include Tablet {
            justify-content: unset;
            flex-wrap: nowrap;
            overflow: scroll;
            flex-wrap: nowrap;
            @include hide-scrollbar;
        }
    }

    &__link {
        flex-shrink: 0;
    }

    &__category{
        .tab__icon-left{
            color: var(--color1-main);
        }
        .tab__text{
            font-weight: 700;
        }
    }

    &__bottom {
        border-top: solid var(--gray-lighter);
        border-bottom: solid var(--gray-lighter);
        margin-block-start: vw(6px);
        padding-block-start: vw(12px);
        padding-block-end: vw(20px);
        @include border-w(2px);

        @include HD {
            margin-block-start: vwh(6px);
            padding-block-start: vwh(12px);
            padding-block-end: vwh(20px);
        }
        @include Tablet {
            margin-block-start: vwt(4px);
            padding-block-start: vwt(12px);
            padding-block-end: vwt(20px);
        }
        @include Mobile {
            margin-block-start: vwm(4px);
            padding-block-start: vwm(12px);
            padding-block-end: vwm(20px);
        }
    }

    &__desc {
        max-width: 90ch;
        padding-inline-start: vw(140px);
        color: var(--gray-dark);
        @include t2;

        @include HD {
            padding-inline-start: vwh(140px);
        }
        @include Tablet {
            padding-inline-start: 0;
        }
    }

    &__button-share {
        flex-shrink: 0;
    }

    &__date {
        pointer-events: none;

        .tab__text {
            @include t3;
        }
    }

    &__views {
        pointer-events: none;

        .tab__text {
            @include t3;
        }
    }
}
