.post-fs {

    &__container {
        display: flex;
        flex-direction: column;
        @include spacing(gap, 20px, 20px, 16px, 16px);
        @include spacing(padding-block, 20px, 20px, 12px, 12px);
    }

    &__media {
        width: 100%;
        @include spacing(height, 480px, 428px, 248px, 200px);
    }

    &__image {
        width: 100%;
        height: 100%;
        background: var(--gray-lighter);
        @include border-r(12px);

        &--desktop {

            @include Mobile{
                display: none;
            }
        }

        &--mobile {
            display: none;

            @include Mobile {
                display: block;
            }
        }
    }

    &__text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include spacing(padding-top, 20px, 20px, 8px, 8px);
        @include spacing(padding-bottom, 20px, 20px, 12px, 12px);
        @include spacing(gap, 20px, 40px, 12px, 12px);

        @include Tablet {
            grid-template-columns: 1fr;
        }
    }

    &__title {
        color: var(--gray-black);
        @include h2;
    }

    &__desc {
        color: var(--gray-dark);
        @include t2;
    }
}