.min-service-card {
    @include spacing(width, 354px);
    background: var(--color1-main);
    @include spacing(padding, 24px);
    @include border-r(12px);
    display: flex;
    flex-direction: column;
    @include spacing(gap, 12px);
    @include transition((background));

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background: var(--color1-light);
        }
    }

    &:active {
        background: var(--color1-dark);
    }

    &__top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &--title {
            @include h6;
            color: var(--color2-light);
        }

        & .badge__icon {
            @include icon(24px);
            color: var(--gray-white);
        }
    }
    &__text {
        @include t2;
        color: var(--gray-white);
    }
}