.btn-close {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: transparent solid;
    width: fit-content;
    background: var(--gray-black);
    color: var(--gray-white);
    touch-action: manipulation;
    @include transition((border, background, color, opacity));
    @include border-w(2px);
    @include gap(8px);
    @include border-r(8px);
    @include icon(40px);


    @include Tablet {
        background-color: var(--gray-lighter);
        color: var(--gray-darker);
    }
    @include Mobile {
        background-color: var(--gray-lighter);
        color: var(--gray-darker);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background: var(--gray-dark);
        }
    }

    &:active {
        background: var(--gray-darker);
    }

    &__icon {
        color: var(--gray-white);
        @include icon(24px);

        @include Tablet {
            color: var(--gray-darker);
        }
        @include Mobile {
            color: var(--gray-darker);
        }
    }
}