.form-feedback {
    @include spacing(padding-block, 80px, 80px, 60px, 60px);

    &__container {
        background: var(--color1-main);
        display: flex;
        flex-direction: row;
        @include spacing(gap, 40px);
        @include spacing(border-radius, 32px);
        @include spacing(padding, 40px);
    }

    &__content {
        height: 100%;
        @include spacing(flex-basis, 658px);
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        @include spacing(gap, 8px);

        &--title {
            @include h2;
            color: var(--gray-white);
        }
        &--desc {
            @include t2;
            color: var(--gray-light);
        }
        &--image {
            margin-top: auto;
            @include spacing(height, 500px);
        }
    }

    &__form {
    }
}