.btn-social {
    /*----------CORE STYLE-----------*/
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: transparent solid;
    width: fit-content;
    position: relative;
    touch-action: manipulation;
    @include transition((border, background));
    @include border-w(2px);

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        @include transition((color));
        @include icon(24px);
    }

    /*----------SIZES-----------*/
    &-size--l {
        height: vw(56px);
        padding-inline: vw(14px);
        @include border-r(8px);

        @include HD {
            height: vwh(56px);
            padding-inline: vwh(14px);
        }
        @include Tablet {
            height: vwt(56px);
            padding-inline: vwt(14px);
        }
        @include Mobile {
            height: vwm(56px);
            padding-inline: vwm(14px);
        }
    }

    &-size--m {
        height: vw(48px);
        padding-inline: vw(10px);
        @include border-r(8px);

        @include HD {
            height: vwh(48px);
            padding-inline: vwh(10px);
        }
        @include Tablet {
            height: vwt(48px);
            padding-inline: vwt(10px);
        }
        @include Mobile {
            height: vwm(48px);
            padding-inline: vwm(10px);
        }
    }

    &-size--s {
        height: vw(40px);
        padding-inline: vw(6px);
        @include border-r(8px);

        @include HD {
            height: vwh(40px);
            padding-inline: vwh(6px);
        }
        @include Tablet {
            height: vwt(40px);
            padding-inline: vwt(6px);
        }
        @include Mobile {
            height: vwm(40px);
            padding-inline: vwm(6px);
        }
    }

    &-size--xs {
        height: vw(32px);
        padding-inline: vw(6px);
        @include border-r(8px);

        @include HD {
            height: vwh(32px);
            padding-inline: vwh(6px);
        }
        @include Tablet {
            height: vwt(32px);
            padding-inline: vwt(6px);
        }
        @include Mobile {
            height: vwm(32px);
            padding-inline: vwm(6px);
        }

        svg {
            @include icon(16px)
        }
    }
    /*----------TYPE-----------*/

    &-type--vk{
        .btn-social__icon {
            color: var(--socials-vk);
        }
    }

    &-type--tg{
        .btn-social__icon {
            color: var(--socials-tg);
        }
    }

    &-type--wt{
        .btn-social__icon {
            color: var(--socials-wt);
        }
    }

    /*----------THEME-----------*/
    &-theme--light {
        background: var(--gray-lighter);
        border-color: transparent;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: var(--color1-lighter);

                .btn-social__icon {
                    color: var(--color1-darker);
                }
            }
        }

        &:active {
            background: var(--color1-light);

            .btn-social__icon {
                color: var(--color1-darker);
            }
        }
    }

    &-theme--dark {
        background: var(--gray-dark);
        border-color: transparent;


        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: var(--gray-medium);

                .btn-social__icon {
                    color: var(--color1-darker);
                }
            }
        }

        &:active {
            background: var(--gray-darker);
            border-color: var(--gray-dark);
            .btn-social__icon {
                color: var(--color1-darker);
            }
        }
    }

    &-theme--transparent {
        background: transparent;
        border-color: transparent;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: transparent;

                .btn-social__icon {
                    color: var(--color1-darker);
                }
            }
        }

        &:active {
            background: transparent;
            border-color: var(--gray-dark);

            .btn-social__icon {
                color: var(--color1-darker);
            }
        }
    }
}