.categories {
    @include spacing(padding-top, 80px, 80px, 40px, 40px);
    @include spacing(padding-bottom, 80px, 80px, 40px, 40px);

    &__container {
        display: flex;
        flex-direction: column;
        @include spacing(gap, 30px, 30px, 24px, 24px);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        @include spacing(gap, 12px, 12px, 12px, 12px);

        @include Tablet {
            grid-template-columns: repeat(2, 1fr);
        }
        @include Mobile {
            grid-template-columns: 1fr;
        }
    }
}

