.partners{
    @include spacing(padding-block, 80px, 80px, 40px, 40px);

    &__container {
        display: flex;
        flex-direction: column;
        @include spacing(gap, 40px, 40px, 32px, 32px);
    }

    &__list {
        display: grid;
        align-items: stretch;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        @include spacing(gap, 20px, 20px, 16px, 16px);

        @include Tablet {
            grid-template-columns: repeat(2, 1fr);
        }
        @include Mobile {
            grid-template-columns: 1fr;
        }
    }
}