.contacts {
    @include spacing(padding-block-start, 40px, 40px, 20px, 20px);
    @include spacing(padding-block-end, 80px, 80px, 40px, 40px);

    &__content {
        display: flex;
        flex-direction: row;
        @include spacing(gap, 20px, 20px, 16px, 16px);

        @include Tablet {
            flex-direction: column;
        }

        &-ls {
            display: flex;
            flex-direction: column;
            @include spacing(gap, 20px);
            @include spacing(width, 480px, 402px);

            @include Tablet {
                width: 100%;
            }
        }

        &-rs {
            display: flex;
            flex-direction: row;
            @include spacing(gap, 20px);
            width: 100%;

            @include Mobile {
                flex-direction: column;
                width: 100%;
            }

            &_item {
                display: flex;
                flex-direction: column;
                @include spacing(gap, 12px);
                flex: 1 0 0;

                &--title {
                    @include h5;
                    color: var(--gray-darker);
                }
                &--address {
                    @include t2;
                    color: var(--gray-darker);
                    @include spacing(padding-block, 12px);
                    @include spacing(padding-inline, 20px);
                    background: var(--gray-lighter);
                    @include border-r(12px);
                    width: 100%;

                    @include Tablet {
                        height: vwt(72px);
                    }
                    @include Mobile {
                        height: fit-content;
                    }
                }
                &--map {
                    position: relative;
                    width: 100%;
                    @include spacing(height, 600px);
                    @include border-r(12px);

                    iframe {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        @include border-r(12px);
                        filter: grayscale(100%);
                    }
                }
            }
        }

        &_item {
            display: flex;
            flex-direction: column;
            @include spacing(gap, 12px);

            &--title {
                @include h5;
                color: var(--gray-darker);
            }
            &--btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                @include spacing(gap, 8px);
            }
            &--workhours {
                @include t3;
                color: var(--gray-dark);
            }
        }

        &-dot {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include spacing(max-width, 46px);
            @include spacing(max-height, 54px);
        }
    }
}