.contacts {
    @include spacing(padding-bottom, 80px, 80px, 40px, 40px);
    @include spacing(padding-top, 80px, 80px, 40px, 40px);
    background: var(--color1-lighter);

    &__container {
        display: flex;
        flex-direction: column;
        @include spacing(gap, 32px, 32px, 24px, 32px);
    }

    &__wrap {
        display: flex;
        @include spacing(gap, 40px, 40px, 32px, 32px);

        @include Tablet {
            flex-direction: column;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        border: solid var(--color2-main);
        background: var(--gray-white);
        @include spacing(width, 460px);
        @include spacing(padding, 24px);
        @include spacing(gap, 20px);
        @include border-r(24px);
        @include border-w(2px);

        @include Tablet{
            width: 100%;
        }

        &-row {
            display: flex;
            flex-direction: column;
            @include spacing(gap, 8px);

            &--label {
                @include h5;
                font-family: var(--font-family-heading);
                color: var(--gray-darker);
            }

            &--container {
                display: flex;
                align-items: center;
                background-color: var(--gray-lighter);
                @include spacing(padding, 20px, 20px, 12px, 12px);
                @include spacing(gap, 12px);
                @include border-r(12px);
                user-select: none;
            }

            &--marker {
                background: var(--gray-white);
                color: var(--color1-main);
                flex-shrink: 0;
            }

            &--text {
                color: var(--gray-darker);
                @include h5;

                &-lh {
                    @include t2;
                    color: var(--gray-dark);
                }
            }

            &--social {
                @include spacing(gap, 12px);

                .btn-social-type--tg {
                    color: var(--socials-tg);
                }
                .btn-social-type--vk {
                    color: var(--socials-vk);
                }
            }

            &--button {
                color: var(--gray-darker);
                @include h5;
            }
        }
    }

    &__map {
        @include spacing(width, 920px, 776px);

        @include Tablet {
            width: 100%;
        }

        iframe {
            @include border-r(24px);
            width: 100%;
            height: 100%;
            filter: grayscale(100%);
            z-index: 10;
        }
    }
}
.contacts-page {
    @include spacing(padding-bottom, 80px, 80px, 40px, 40px);
    @include spacing(padding-top, 40px);

    .title-card {
        display: none;
    }
}