.input-textarea {
	/*----------CORE STYLE-----------*/
	&__wrapper {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__inner-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	&__input-container {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
	}

	&__label {
		color: var(--gray-medium);
		flex-shrink: 0;
		@include spacing(margin-bottom, 2px);
		@include t4;
	}

	&__field {
		width: 100%;
		border: solid transparent;
		@include border-w(2px);
		@include transition((background, border, color, filter, opacity));

		&:focus {
			outline: none;
		}

		&:disabled {
			cursor: not-allowed;
			opacity: .8;
			filter: grayscale(1);
		}
	}

	&__error-message {
		color: var(--error-dark);
		@include spacing(margin-top, 2px);
		@include t4;
	}

	/*----------LABEL POSITION-----------*/
	&-pos_standard.input-textarea {
		&__label {
			display: block;
			color: var(--gray-medium);
			order: -1;
			@include spacing(margin-bottom, 2px);
			@include t4;
		}

		&__wrapper {
			display: flex;
			flex-direction: column;
		}
	}

	&-pos_hidden.input-textarea__label {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border: 0;
	}

	/*----------STYLES-----------*/
	&-style_filled .input-textarea {
		&__field {
			background: var(--gray-lighter);
			color: var(--gray-darker);

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					border-color: var(--gray-light);
				}
			}

			&:focus {
				background: var(--gray-white);
				border-color: var(--gray-light);
			}

			&::placeholder {
				color: var(--gray-medium);
			}
		}

		&__icon {
			color: var(--gray-light);
		}

		&__reset {
			&-icon {
				color: var(--gray-light);
			}
		}
	}

	&-style_outline .input-textarea {
		&__field {
			background: var(--gray-white);
			border-color: var(--gray-light);
			color: var(--gray-darker);

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					border-color: var(--color1-light);
				}
			}

			&:focus {
				border-color: var(--color1-main);
			}

			&::placeholder {
				color: var(--gray-medium);
			}
		}

		&__icon {
			color: var(--gray-light);
		}

		&__reset {
			&-icon {
				color: var(--gray-light);
			}
		}
	}

	&-style_underline .input-textarea {
		&__field {
			background: transparent;
			border-bottom-color: var(--gray-light);
			color: var(--gray-darker);
			border-radius: 0 !important;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					border-bottom-color: var(--color1-light);
				}
			}

			&:focus {
				border-bottom-color: var(--color1-main);
			}

			&::placeholder {
				color: var(--gray-medium);
			}
		}

		&__icon {
			color: var(--gray-light);
		}

		&__reset {
			&-icon {
				color: var(--gray-light);
			}
		}
	}

	/*----------SIZES-----------*/
	&-size_l .input-textarea {
		&__field {
			@include spacing(height, 116px);
			@include spacing(padding, 11px);
			@include spacing(padding-inline, 14px);
			@include border-r(12px);
			@include t1;
		}
	}

	&-size_m .input-textarea {
		&__field {
			@include spacing(height, 96px);
			@include spacing(padding, 10px);
			@include spacing(padding-inline, 14px);
			@include border-r(12px);
			@include t2;
		}
	}

	&-size_s .input-textarea {
		&__field {
			@include spacing(height, 88px);
			@include spacing(padding, 6px);
			@include spacing(padding-inline, 10px);
			@include border-r(12px);
			@include t2;
		}
	}

	&-size_xs .input-textarea {
		&__field {
			@include spacing(height, 72px);
			@include spacing(padding, 4px);
			@include spacing(padding-inline, 10px);
			@include border-r(8px);
			@include t3;
		}
	}

	/*----------THEME-----------*/
	&-theme_dark .input-textarea {
		&__label {
			color: var(--gray-light);
		}

		&-style_filled .input-textarea {
			&__field {
				background: var(--gray-dark);
				border-color: var(--gray-dark);
				color: var(--gray-white);

				@media (hover: hover) and (pointer: fine) {
					&:hover {
						border-color: var(--gray-medium);
					}
				}

				&:focus {
					background: var(--gray-black);
					border-color: var(--gray-medium);
				}

				&::placeholder {
					color: var(--gray-light);
				}
			}

			&__icon {
				color: var(--gray-light);
			}

			&__reset {
				&-icon {
					color: var(--gray-light);
				}
			}
		}

		&.input-textarea-style_outline .input-textarea {
			&__field {
				background: var(--gray-black);
				border-color: var(--gray-dark);
				color: var(--gray-white);

				@media (hover: hover) and (pointer: fine) {
					&:hover {
						border-color: var(--color1-darker);
					}
				}

				&:focus {
					border-color: var(--color1-main);
				}

				&::placeholder {
					color: var(--gray-light);
				}
			}

			&__icon {
				color: var(--gray-medium);
			}

			&__reset {
				&-icon {
					color: var(--gray-medium);
				}
			}
		}

		&.input-textarea-style_underline.input-textarea {
			&__field {
				background: transparent;
				border-bottom-color: var(--gray-dark);
				color: var(--gray-white);
				border-radius: 0 !important;

				@media (hover: hover) and (pointer: fine) {
					&:hover {
						border-bottom-color: var(--color1-darker);
					}
				}

				&:focus {
					border-bottom-color: var(--color1-main);
				}

				&::placeholder {
					color: var(--gray-light);
				}
			}

			&__icon {
				color: var(--gray-medium);
			}

			&__reset {
				&-icon {
					color: var(--gray-medium);
				}
			}
		}
	}
}