.tab-bar {
    position: fixed;
    display: none;
    z-index: z('tooltip');
    bottom: 0;
    left: 0;
    background: var(--gray-light);
    @include spacing(padding-block, 4px);
    @include spacing(padding-inline, 8px);

    @include Tablet {
        display: block;
        min-width: 100%;
    }
    @include Mobile {
        margin-left: 0;
        margin-right: 0;
        width: unset;
        max-width: unset;
    }

    &__container {
        display: flex;
        width: 100%;
        background: var(--gray-white);
        border: solid var(--gray-light);
        @include gap(8px);
        @include border-r(8px);
        @include border-w(1px);
        @include spacing(padding, 8px);

        a,button {
            flex: 1;
        }
    }

    &__button {
        flex: 1;

        .btn__text {
            @include t3-b;
        }
    }
}