.cta {
    @include spacing(padding-block, 80px, 80px, 60px, 60px);

    &__container {}

    &__content {
        display: flex;
        flex-direction: row;
        @include spacing(gap, 60px, 40px, 32px, 32px);
        background: var(--color1-main);
        @include spacing(padding, 40px, 40px, 16px, 16px);
        @include spacing(border-radius, 32px, 32px, 12px, 12px);
        @include spacing(height, 540px, 540px);

        @include Tablet {
            height: fit-content;
            flex-direction: column-reverse;
        }

        &-ls {
            @include spacing(width, 630px, 547px);
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            @include spacing(gap, 12px);

            @include Tablet {
                width: 100%;
            }

            &--title {
                @include h3;
                color: var(--gray-white);
                display: block;
            }
            &--subtitle {
                @include t2;
                color: var(--gray-white);
                display: block;
            }
            &--text {
                @include t2;
                color: var(--gray-white);
                @include spacing(padding, 20px);
                @include spacing(border-width, 2px);
                border: solid var(--color2-main);
                @include border-r(12px);
                width: 100%;
                margin-bottom: auto;

                @include Tablet {
                    margin-bottom: unset;
                }
            }
        }
        &-buttons {
            display: flex;
            flex-direction: row;
            @include spacing(gap, 12px);

            @include Mobile {
                flex-direction: column;

                & .btn {
                    width: 100%;
                }
            }
        }
        &-rs {
            @include Tablet {
                height: vwt(500px);
            }
            @include Mobile {
                height: vwm(280px);
            }

            &--image {

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}