.benefits-card {
    position: relative;
    display: flex;
    flex-direction: column;
    @include spacing(padding, 20px);
    @include spacing(gap, 20px);
    @include border-r(12px);
    height: 100%;

    &__separator {
        @include spacing(margin-block, 12px);
    }

    &__image {
        width: 100%;
        @include spacing(height, 200px);
        @include spacing(border-radius, 8px);
        overflow: hidden;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__wrap {
        &--title {
            @include h4;
        }
        &--desc {
            @include t2;
            color: var(--gray-darker);
            width: 100%;
        }
    }

    /*----------STYLE-----------*/

    &-style_gray {
        &.benefits-card {
            background: var(--gray-white);
        }

        & .benefits-card__wrap {
            &--title {
                color: var(--gray-darker);
            }
        }

        & .benefits-card__separator {
            background: var(--gray-light) !important;
        }
    }

    &-style_main {

    }
}