.doc-card {
    display: flex;
    flex-direction: column;
    height: auto;
    @include spacing(max-height, 700px, 600px);
    width: 100%;
    cursor: pointer;
    @include spacing(gap, 20px, 20px, 20px, 16px);

    @include Tablet {
        height: 100%;
        max-height: none;
        width: fit-content;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            .doc-card__image {
                scale: 1.1;
            }
            .doc-card__wrap {
                border-color: var(--color1-main);
            }
            .doc-card__icon {
                color: var(--color1-dark);
            }
        }
    }

    &:active {
        .doc-card__image {
            scale: 1;
        }
        .doc-card__wrap {
            border-color: var(--color1-darker);
        }
        .doc-card__icon {
            color: var(--color1-darker);
        }
    }

    &__wrap {
        position: relative;
        overflow: hidden;
        border: solid var(--color1-lighter);
        width: 100%;
        @include border-r(12px);
        @include border-w(2px);
        height: auto;
        max-height: 100%;

        @include Tablet {
            height: 100%;
            max-height: none;
            width: fit-content;
        }
    }

    &__image {
        @include transition((scale));
        @include border-r(12px);
        display: block;
        height: auto;
        max-height: 100%;
        width: auto;
        width: 100%;

        @include Tablet {
            height: 100%;
            max-height: none;
            width: auto;
        }
    }

    &__icon {
        position: absolute;
        width: fit-content;
        color: var(--gray-black);
        @include spacing(top, 20px, 20px, 20px, 20px);
        @include spacing(right, 20px, 20px, 20px, 20px);
    }

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        svg {
            @include spacing(width, 24px, 24px, 24px, 24px);
            @include spacing(height, 24px, 24px, 24px, 24px);
        }
    }

    &__title {
        @include h4;
        @include truncate(1);
        color: var(--gray-darker);
    }
}
