.page-heading {
    display: flex;
    @include spacing(padding-top, 20px, 20px, 12px, 12px);
    @include spacing(padding-bottom, 12px, 12px, 20px, 20px);

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include spacing(gap, 20px);
    }

    &__back {
        align-items: center;
        display: flex;
        flex-direction: row;
        @include spacing(gap, 8px);

        &-title{
            @include t2-b;
            @include truncate(1);
            color: var(--gray-darker);
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @include Tablet{
            display: flex;
        }
    }

    &__title {
        color: var(--gray-black);
        @include h3;
        line-height: 120%;

        @include Tablet{
            display: none;
        }
    }

    &__count {
        @include t4;
        color: var(--gray-dark);
        @include spacing(padding-block, 4px);
        @include spacing(padding-inline, 8px);
        background: var(--gray-lighter);
        @include spacing(border-radius, 12px);
    }

    &-style_primary{
        display: none;
        @include Tablet{
            display: flex;
        }
    }
}