.service-modal {
    position: fixed;
    height: fit-content;
    width: 100vw;
    z-index: 120 !important;
    top: -100% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    @include spacing(padding-top, 96px);
    opacity: 1;
    @include transition((top, opacity, transform), 0.3s);

    &.active {
        top: 0 !important;
        opacity: 1;
    }

    @include Tablet {
        display: none;
    }

    &__content {
        @include spacing(padding-block, 20px);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &__item {
        display: flex;
        flex-direction: column;
        @include spacing(gap, 4px);

        &:not(:last-child) {
            @include spacing(padding-right, 12px);
            @include spacing(margin-right, 12px);
            border-right: solid var(--gray-lighter);
            border-width: vw(1px);

            @include HD {
                border-width: vwh(1px);
            }
        }

        &--link {
            @include spacing(padding, 4px);
            display: flex;
            flex-direction: row;
            align-items: center;
            @include spacing(gap, 12px);
            background: transparent;
            @include transition((background, color));
            @include border-r(12px);
            color: var(--gray-darker);
            @include t2-b;

            img {
                @include icon(48px);
                @include border-r(8px);
                flex-shrink: 0;
            }

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background: var(--gray-lighter);
                    color: var(--color1-main);
                }
            }

            &:active {
                color: var(--color1-darker);
            }
        }

        &--btn {
            width: 100%;
            justify-content: flex-start;
        }
    }
}