.info-section {
    @include spacing(padding-top, 40px, 40px, 20px, 20px);
    @include spacing(padding-bottom, 80px, 80px, 40px, 40px);

    @include Tablet{
        display: flex;
        flex-direction: column;
        @include spacing(gap, 0, 0, 32px, 32px);
    }

    &__container {
        display: flex;
        @include spacing(gap, 40px, 40px);

        @include Tablet {
            justify-content: center;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        @include spacing(gap, 12px);
        @include spacing(width, 700px, 628px, 480px);

        @include Mobile {
            width: 100%;
        }
    }
}