.btn {
    /*----------CORE STYLE-----------*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: transparent solid;
    width: fit-content;
    touch-action: manipulation;
    @include transition((border, background, color, opacity));
    @include border-w(2px);

    &__text {

    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        svg {
            display: inline-block;
            vertical-align: middle;
            @include transition((fill, stroke));
        }
    }

    &__loader {
        display: none;
    }

    &.loading {
        .btn__loader {
            display: block;
        }

        .btn__text,
        .btn__icon {
            display: none;
        }
    }

    /*============QUICK CONFIG============*/
    &-size_l {
        @include t2-b;
        @include border-r(8px);
    }
    &-size_m {
        @include t2-b;
        @include border-r(8px);
    }
    &-size_s {
        @include t3;
        @include border-r(8px);
    }
    &-size_xs {
        @include t3;
        @include border-r(8px);
    }
    /*====================================*/

    /*----------STYLES-----------*/
    &-primary {
        background: var(--color1-main);
        color: var(--gray-white);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: var(--color1-light);
            }
        }

        &:active {
            background: var(--color1-dark);
        }

        &:disabled {
            cursor: not-allowed;
            background: var(--gray-medium);
        }
    }

    &-secondary {
        background: var(--gray-lighter);
        color: var(--gray-darker);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: var(--color1-lighter);
            }
        }

        &:active {
            background: var(--color1-light);
        }

        &:disabled {
            cursor: not-allowed;
            background: var(--gray-medium);
            color: var(--gray-white);
        }
    }

    &-accent {
        background: var(--color2-light);
        color: var(--gray-black);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: var(--color2-main);
            }
        }

        &:active {
            background: var(--color2-darker);
        }

        &:disabled {
            cursor: not-allowed;
            background: var(--gray-medium);
        }
    }

    &-gray {
        background: var(--gray-black);
        color: var(--gray-white);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: var(--gray-dark);
            }
        }

        &:active {
            background: var(--gray-darker);
        }

        &:disabled {
            cursor: not-allowed;
            background: var(--gray-medium);
        }
    }

    &-outline {
        background: transparent;
        color: var(--gray-darker);
        border-color: var(--color1-main);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: var(--color1-light);
                color: var(--gray-white);
                border-color: var(--color1-light);
            }
        }

        &:active {
            background: var(--color1-dark);
            color: var(--gray-white);
            border-color: var(--color1-dark);
        }

        &:disabled {
            cursor: not-allowed;
            background: var(--gray-medium);
            color: var(--gray-white);
            border-color: transparent;
        }
    }

    &-monochrome {
        background: transparent;
        color: var(--gray-darker);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: var(--gray-light);
                color: var(--color1-dark);
            }
        }

        &:active {
            background: var(--color1-lighter);
            color: var(--color1-darker);
        }

        &:disabled {
            cursor: not-allowed;
            background: var(--gray-medium);
            color: var(--gray-white);
        }
    }

    &-flat {
        background: transparent;
        color: var(--gray-darker);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: var(--gray-lighter);
                color: var(--color1-dark);
            }
        }

        &:active {
            background: var(--color1-lighter);
            color: var(--color1-darker);
        }

        &:disabled {
            cursor: not-allowed;
            background: var(--gray-medium);
            color: var(--gray-white);
        }
    }

    /*----------SIZES-----------*/
    &-size_l {
        @include spacing(height, 56px);
        @include spacing(padding-inline, 24px);
        @include spacing(gap, 12px);

        &:has(.btn__icon_left) {
            @include spacing(padding-left, 20px);
        }

        &:has(.btn__icon_right) {
            @include spacing(padding-right, 20px);
        }

        &:has(.btn__icon_center) {
            @include spacing(padding-inline, 16px);
        }

        .btn__icon {
            svg {
                @include icon(24px);
            }
        }

        .btn__loader {
            @include icon(24px);
        }
    }

    &-size_m {
        @include spacing(height, 48px);
        @include spacing(padding-inline, 20px);
        @include spacing(gap, 8px);

        &:has(.btn__icon_left) {
            @include spacing(padding-left, 16px);
        }

        &:has(.btn__icon_right) {
            @include spacing(padding-right, 16px);
        }

        &:has(.btn__icon_center) {
            @include spacing(padding-inline, 10px);
        }

        .btn__icon {
            svg {
                @include icon(24px);
            }
        }

        .btn__loader {
            @include icon(24px);
        }
    }

    &-size_s {
        @include spacing(height, 40px);
        @include spacing(padding-inline, 16px);
        @include spacing(gap, 8px);

        &:has(.btn__icon_left) {
            @include spacing(padding-left, 12px);
        }

        &:has(.btn__icon_right) {
            @include spacing(padding-right, 12px);
        }

        &:has(.btn__icon_center) {
            @include spacing(padding-inline, 8px);
        }

        .btn__icon {
            svg {
                @include icon(24px);
            }
        }

        .btn__loader {
            @include icon(24px);
        }
    }

    &-size_xs {
        @include spacing(height, 32px);
        @include spacing(padding-inline, 12px);
        @include spacing(gap, 4px);

        &:has(.btn__icon_left) {
            @include spacing(padding-left, 8px);
        }

        &:has(.btn__icon_right) {
            @include spacing(padding-right, 8px);
        }

        &:has(.btn__icon_center) {
            @include spacing(padding-inline, 8px);
        }

        .btn__icon {
            svg {
                @include icon(16px);
            }
        }

        .btn__loader {
            @include icon(16px);
        }
    }

    /*----------THEME-----------*/
    &-theme_dark {
        &.btn-primary {
            background: var(--color1-main);
            color: var(--gray-white);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background: var(--color1-light);
                }
            }

            &:active {
                background: var(--color1-dark);
            }

            &:disabled {
                cursor: not-allowed;
                background: var(--gray-dark);
            }
        }

        &.btn-accent {
            background: var(--color2-dark);
            color: var(--gray-white);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background: var(--color2-main);
                }
            }

            &:active {
                background: var(--color2-darker);
            }

            &:disabled {
                cursor: not-allowed;
                background: var(--gray-dark);
            }
        }

        &.btn-secondary {
            background: var(--gray-dark);
            color: var(--gray-white);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background: var(--gray-medium);
                }
            }

            &:active {
                background: var(--gray-darker);
                border-color: var(--gray-darker);
            }

            &:disabled {
                cursor: not-allowed;
                background: var(--gray-medium);
                color: var(--gray-dark);
            }
        }

        &.btn-gray {
            background: var(--gray-white);
            color: var(--gray-darker);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background: var(--gray-light);
                }
            }

            &:active {
                background: var(--gray-medium);
            }

            &:disabled {
                cursor: not-allowed;
                background: var(--gray-medium);
                color: var(--gray-dark);
            }
        }

        &.btn-outline {
            background: transparent;
            color: var(--gray-darker);
            border-color: var(--color1-main);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background: var(--color1-light);
                    border-color: var(--color1-light);
                    color: var(--gray-white);
                }
            }

            &:active {
                background: var(--color1-dark);
                border-color: var(--color1-dark);
            }

            &:disabled {
                cursor: not-allowed;
                background: var(--gray-medium);
                color: var(--gray-dark);
                border-color: transparent;
            }
        }

        &.btn-monochrome {
            background: transparent;
            color: var(--gray-darker);
            border-color: var(--gray-light);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background: var(--gray-light);
                    color: var(--color1-dark);
                }
            }

            &:active {
                background: var(--color1-lighter);
                color: var(--color1-darker);
            }

            &:disabled {
                cursor: not-allowed;
                background: var(--gray-medium);
                color: var(--gray-dark);
                border-color: transparent;
            }
        }

        &.btn-flat {
            background: transparent;
            color: var(--gray-darker);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background: var(--gray-lighter);
                    color: var(--color1-dark);
                }
            }

            &:active {
                background: var(--color1-lighter);
                color: var(--color1-darker);
            }

            &:disabled {
                cursor: not-allowed;
                background: var(--gray-medium);
                color: var(--gray-dark);
                border-color: transparent;
            }
        }
    }
}