@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/InterVariable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/InterVariable-Italic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Grotesque';
    src: url('/assets/fonts/Grotesque/GetVoIP Grotesque.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Grotesque/GetVoIP Grotesque Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}