.category-card {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--gray-lighter);
    border: transparent solid;
    @include border-r(12px);
    @include border-w(2px);
    @include transition((border, background));
    @include spacing(gap, 12px, 12px, 12px, 12px);
    @include spacing(padding, 20px, 20px, 12px, 12px);

    &--link{
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                .category-card__title {
                    color: var(--color1-dark);
                    @include transition((color));
                }

                .category-card__icon {
                    color: var(--color1-dark);
                    transform: rotate(45deg);
                    @include transition((transform));
                }
            }


            &:active {
                background: var(--color1-lighter);

                &__title {
                    color: var(--color1-dark);
                }

                .category-card__icon {
                    color: var(--color1-dark);
                    transform: rotate(45deg);
                    @include transition((transform));
                }
            }
        }
    }

    &__link {
        cursor: pointer;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    &__category-marker {
        background-color: var(--gray-white);
        flex-shrink: 0;
    }

    &__title {
        @include t2-b;
        color: var(--gray-darker);
        line-height: 120%;
        box-sizing: border-box;
        width: 100%;
    }

    &__icon{
        @include transition((transform));
        transform: rotate(0deg);
    }

    svg {
        flex-shrink: 0;
        @include icon(24px);
    }

    /*----------COLOR-----------*/

    &-color {
        &_main {
            .category-card__category-marker .marker__icon {
                color: var(--color1-main);
            }
        }

        &_red {
            .category-card__category-marker .marker__icon {
                color: var(--uniq-red);
            }
        }

        &_blue {
            .category-card__category-marker .marker__icon {
                color: var(--uniq-blue);
            }
        }

        &_green {
            .category-card__category-marker .marker__icon {
                color: var(--uniq-green);
            }
        }
    }

    /*----------STYLE-----------*/

    &-style {
        &_secondary {
            .category-card__title{
                @include t2;
            }
        }
    }

}