.footer{
    display: flex;
    flex-direction: column;
    @include spacing(gap, 32px, 40px, 32px, 32px);
    background-color: var(--gray-darker);
    @include spacing(padding-block-start, 80px, 80px, 20px,20px);
    @include spacing(padding-block-end, 80px, 80px, 160px, 160px);

    &__container {
        display: flex;
        flex-direction: row-reverse;
        @include spacing(gap, 20px);
    }

    &__menu {
        display: grid;
        grid-template-columns: repeat(3, vw(340px));
        @include spacing(gap, 20px, 20px);

        @include HD {
            grid-template-columns: repeat(3, vwh(320px));
        }
        @include Tablet {
            display: none;
        }

        &--column-container {
            display: flex;
            flex-direction: column;
            @include spacing(gap, 32px);
        }

        &-column {
            display: flex;
            flex-direction: column;
            text-wrap: nowrap;

            &--title {
                @include t2-b;
                color: var(--gray-light);
                text-wrap: nowrap;
                @include spacing(padding-block, 12px);
            }
            &--tab {
                display: flex;
                flex-direction: column;
            }

            a {
                @media (hover: hover) and (pointer: fine) {
                    color: var(--color1-light);
                    @include transition((color));
                }

                &:active {
                    color: var(--color1-main);
                    @include transition((color));
                }
            }
        }
    }

    &__contact-us {
        display: flex;
        flex-direction: column;
        @include spacing(gap, 32px);
        width: 100%;

        &--callback {
            display: flex;
            flex-direction: column;
            @include spacing(gap, 20px)
        }

        &--info {
            display: flex;
            flex-direction: column;
            @include spacing(gap, 12px);

            &-row {
                display: flex;
                flex-direction: column;
                @include spacing(gap, 8px);
            }

            &-label {
                @include t4;
                color: var(--gray-medium);
            }

            &-text {
                @include h5;
                color: var(--gray-lighter);
                line-height: 120%;
            }
        }

        &--button {
            @include h5;
            color: var(--gray-lighter);
            font-family: Inter;
        }
    }


    &__logo{
        @include spacing(width, 160px);
        @include spacing(height, 40px);
    }

    &__separator {
        background: var(--gray-dark);
    }

    &__bottom {
        &-container {
            display: flex;
            justify-content: space-between;
            @include spacing(padding-top, 14px);
            @include spacing(gap, 60px, 60px, 20px, 16px);

            @include Tablet {
                flex-direction: column;
            }
        }

        &-policy {
            display: flex;
            flex-direction: column;
            @include spacing(gap, 0, 0, 0, 16px);

            &--tab-list {
                display: flex;
                @include spacing(gap, 20px);

                @include Mobile {
                    gap: vwm(4px) vwm(20px);
                    flex-wrap: wrap;
                }
            }

            &--copyright {
                @include t3;
                color: var(--gray-medium);
            }
        }

        &-dev {
            display: flex;
            @include spacing(gap, 40px);
        }
    }
}