.banner-service {
    position: relative;
    @include spacing(height, 798px, 650px, 700px, 550px);

    &__background-image {
        @include spacing(height, 798px, 650px, 700px, 550px);
        width: 100%;
        z-index: 1;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--mask {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: var(--gray-black);
            opacity: 0.6;
            width: 100%;
            height: 100%;
        }
        &--v-line {
            position: absolute;
            top: 0;
            left: 23%;
            transform: translate(-23%, 0);
            @include spacing(width, 1px);
            background: var(--gray-medium);
            height: 100%;
            z-index: 3;
        }
        &--h-line {
            position: absolute;
            top: 55%;
            left: 0;
            transform: translate(0, -55%);
            @include spacing(height, 1px);
            background: var(--gray-medium);
            width: 100%;
            z-index: 3;
        }
        &--ellipse {
            position: absolute;
            top: 39.7%;
            left: 14%;
            transform: translate(-14%, -39.7%);
            z-index: 2;
        }
    }

    &__container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        width: 100%;
    }

    &__content {
        @include spacing(padding-block-start, 100px);
    }

    &__center {
        @include spacing(padding-block-start, 40px);
        @include spacing(padding-block-end, 110px);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        @include spacing(margin-right, 250px);

        &-ls {
            @include spacing(width, 800px);
            display: flex;
            flex-direction: column;
            @include spacing(gap, 133px);
        }
        &-rs {
        }
    }

    &__title-block {
        display: flex;
        flex-direction: column;
        @include spacing(gap, 12px);

        &--title {
            @include h1;
            color: var(--gray-white);
        }
        &--subtitle {
            @include h3;
            color: var(--gray-white);
        }
    }

    &__description {
        @include t2;
        color: var(--gray-white);
        @include spacing(width, 660px);
    }

    &__card {
        display: flex;
        flex-direction: column;
        @include spacing(gap, 12px);
        @include spacing(width, 340px);
        height: fit-content;
        @include spacing(padding, 24px);
        @include border-r(12px);
        background: var(--gray-white);

        &--title {
            @include h3;
            color: var(--gray-black);
        }

        &--text {
            @include t2;
            color: var(--gray-darker);
        }

        &--button {
            width: 100%;
            justify-content: space-between !important;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        @include spacing(gap, 20px);
        justify-content: flex-end;
        @include spacing(margin-right, 250px);
    }

    &__item {
        display: flex;
        flex-direction: column;
        @include spacing(gap, 12px);
        @include spacing(width, 224px);

        &--title {
            @include h2;
            color: var(--gray-white);
        }
        &--text {
            @include t2;
            color: var(--gray-white);
        }
    }
}