.stages {
    @include spacing(padding-block, 80px, 80px, 60px, 60px);
    background: var(--color1-lighter);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: start;
        @include spacing(gap, 30px, 30px, 24px, 24px);
    }

    &__steps {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include spacing(gap, 20px, 20px, 16px, 16px);
        counter-reset: stages-step;

        @include Tablet {
            grid-template-columns: repeat(2, 1fr);
        }
        @include Mobile {
            grid-template-columns: repeat(1, 1fr);
        }

        .stages__step {
            counter-increment: stages-step;
        }

        .step-card__marker {
            position: relative;

            &::before {
                content: counter(stages-step);
                @include t3-b;
                line-height: 1;
                color: inherit;
            }

            img {
                position: absolute;
                @include spacing(top, -50px, -50px, -35px, -35px);
                @include spacing(left, -15px, -15px, -5px, -5px);
                @include icon(120px);
                display: block;
                object-fit: contain;
                -webkit-transform: translateZ(0);
                transform: translateZ(0) scale(3);

                @include Tablet {
                    @include icon(100px);
                }
            }
        }

        .step-card__marker--number::before {
            content: none;
        }

        .stages__step:last-child {
            .step-card__marker::before {
                content: none;
            }
        }

        .marker__icon {
            display: none;
        }

        .step-card__marker {
            color: var(--gray-white);
        }
    }

    &__banner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include spacing(gap, 20px, 20px, 16px, 16px);

        @include Mobile {
            display: flex;
            flex-direction: column;
        }

        &-image {
            @include spacing(width, 700px, 628px, 360px);
            @include spacing(height, 370px, 370px, 270px, 270px);
            @include border-r(20px);

            @include Mobile {
                width: 100%;
            }
        }
    }
}
