.partner-card {
    display: flex;
    width: 100%;
    justify-content: center;
    background: var(--gray-lighter);
    border: solid var(--gray-lighter);
    @include spacing(height, 120px);
    @include border-r(8px);
    @include border-w(2px);
    overflow: hidden;

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        user-select: none;
    }
}

